{% extends "base.html" %}

{% block title %}MyHome Page - blog{% endblock title %}

{% block nav %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">O meni </a></li>
        <li><a href="projects">Moji projekti</a></li>
        <li class="active"><a href="blog">Blog</a></li>
        <li><a href="contacts">Kontakt</a></li>
    </ul>
{% endblock nav %}

{% block specifika %}
<section>
    <div class="row">
        <div id="col-sm-12-blog">
                              
                <div class="caption">
                    <h3>Poletje se bliža</h3>
                    <p>TFar far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Read more</a> <a href="#" class="btn btn-default" role="button">Photos</a></p>
                </div>
            
        </div>      
    </div>
</section>
{% endblock specifika %}



</body>
</html>