{% extends "base.html" %}

{% block title %}My Home Page - contacts{% endblock title %}

{% block nav %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">O meni </a></li>
        <li><a href="projects">Moji projekti</a></li>
        <li><a href="blog">Blog</a></li>
        <li class="active"><a href="contacts">Kontakt</a></li>
    </ul>
{% endblock nav %}

{% block specifika %}

  <section>
      
      <div class="row">
          <div class="informacije">
                 <h4>Kontakt</h4>
                 <p>Nina</p>
                 <p>Davčna številka: 324324324</p>
                 <p>Frizerska ulica 5, 1000 Ljubljana</p>
                 <p>Tel.: 01/345345346</p>
                 <p>Email: ena.afna@gmail.com</p>
             </div>  
      </div>
  </section>  
{% endblock specifika %}



</body>
</html>